/* badges.component.scss */
:host {
    display: block;
    margin-top: 20px;
  
    mat-form-field {
      display: block;
      margin-bottom: 10px;
    }

    table.mat-table {
      border-collapse: separate;
      border-spacing: 20px;
    }
    
    .mat-header-cell, .mat-cell {
      padding: 10px 20px;
    }
  }