.rewards-container {
  margin-top: 20px;

  .create-reward-form {
    margin: 20px 0;
    mat-form-field {
      display:block;
      margin-bottom:10px;
    }
  }

  .reward-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    align-items: center;
  }
}
